
<stron>Add Your Details</stron>
      <form class="well">
        <label></label>
        <input type="text" name="name" ng-model="form.name" placeholder="Name">
        
        <label></label>
        <input type="text" name="description" ng-model="form.description" placeholder="Description">
        <hr />
        <label></label>
        <input type="text" name="pickuplocation" ng-model="form.pickuplocation" placeholder="Pickuplocation">
        
        <label></label>
        <input type="text" name="dropofflocation" ng-model="form.dropofflocation" placeholder="Dropoffloaction">
        <hr />
        <label></label>
        <input type="time" name="time" ng-model="form.time" placeholder="Time">
        <label></label>
        <input type="date" name="date" ng-model="form.date" placeholder="Date">
       
        <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary">
      </form>
    
    