<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>TruckDat Demo</title>
  <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link href="style.css" rel="stylesheet" />
  <script data-semver="1.2.16" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" data-require="angular.js@1.2.x"></script>
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
  <script src="app.js"></script>
</head>

<body ng-controller="MainCtrl">
  <div ng-app="app" ng-controller="ContactController">
    <h1>TruckDat Demo</h1>
    <a class="btn btn-success" href="javascript:void(0)" ng-click="edit()">Add New Order</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Pickuplocation</th>
          <th>Dropofflocation</th>
          <th>Time</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts">
          <td>{{ contact.name }}</td>
          <td>{{ contact.description }}</td>
          <td>{{ contact.pickuplocation }}</td>
          <td>{{ contact.dropofflocation}}</td>
          <td>{{ contact.time}}</td>
          <td>{{ contact.date}}</td>
          <td>
            <a class="btn btn-primary" href="javascript:void(0)" ng-click="edit(contact.id)">edit</a> 
            <a class="btn btn-success" ng-href="#/partial_detail/">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
